<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Анкета</title>
</head>
<body>

    <div class="container">
        <h1 class="mt-5">Хотите полететь на Марс??!! Легко! Заполните анкету!</h1>

        <form method="POST" action="/">
            <div class="form-group">
                <label for="name">Введите Ваше имя:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="city">Где Вы проживаете:</label>
                <input type="text" class="form-control" id="city" name="city" required>
            </div>
            <div class="form-group">
                <label for="hobby">Расскажите о своих хобби:</label>
                <textarea class="form-control" id="hobby" name="hobby" rows="3" required></textarea>
            </div>
            <div class="form-group">
                <label for="age">Сколько Вам лет:</label>
                <input type="number" class="form-control" id="age" name="age" required>
            </div>
            <button type="submit" class="btn btn-primary">Отправить пост</button>
        </form>
        <hr>

        <h2 class="mt-4">Посты</h2>
        {% for post in posts %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ post.name }}</h5>
                <p class="card-text">Город: {{ post.city }}</p>
                <p class="card-text">Возраст: {{ post.age }}</p>
                <p class="card-text">Хобби: {{ post.hobby }}</p>
                
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
